html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: baseline;
	color: #4C4C4C;
}
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/* MY STYLE  ############################################################## */

.desktop{
height: 100%;
width: 100%;
background-color: #4086CE;
    display: table;
    position: absolute;
}

.middle{
   display: table-cell;
   vertical-align: middle;
}

.calculadora{
width: 25%;
margin: 0 auto;
background-color: #F6F6F6;
padding: 35px;
border: 1px solid #F6F6F6;
border-radius: 8px;
}

.boxQuantAcertos{
display: inline;
float: left;
background-color: #1AC685;
border-radius: 100%;
padding: 10px;
}

.boxQuantErros{
display: inline;
float: right;
background-color: #CA222B;
border-radius: 100%;
padding: 10px;
}

.quebraFloat{
	clear: both;
}

.boxEquacao{
display: block;
font-size: 65px;
text-align: center;
margin-bottom: 15px;
}

.boxResultado{
display: block;
width: 100%;
}

.boxResultado .caixaTexto{
display: block;
padding: 12px;
font-size: 65px;
text-align: center;
margin: 0 auto 20px auto;
border: 1px solid #4C4C4C;
color: #4C4C4C;
}

.boxResultado .caixaTexto.numero{
	width: 50%;
}

.boxResultado .caixaTexto.texto{
	width: 90%;
}

.botaoSucesso{
background-color: #1AC685;
padding: 13px 50px;
border: 2px solid #1AC685;
border-radius: 4px;
color: #FFF;
font-size: 18px;
margin: 0px 10px 5px 0px;
}

.botaoInfo{
background-color: #4086CE;
padding: 13px 50px;
border: 2px solid #4086CE;
border-radius: 4px;
color: #FFF;
font-size: 18px;
margin: 0px 10px 5px 0px;
}

.botaoSucesso:hover{
background-color: #1EB27A;
}

.botaoInfo:hover{
background-color: #3876B5;
}

.boxBotao{
display: block;
text-align: center;
}

.font-white{
	color: #FFF;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}

.title{
font-size: 64px;
margin-bottom: 20px
}

.subtitle{
font-size: 37px;
margin-bottom: 20px
}

table.boxRanking{
width: 100%;
border-top: 1px solid #DCDCDC;
border-left: 1px solid #DCDCDC;
}

table.boxRanking tr td,table.boxRanking tr th{
border-right: 1px solid #DCDCDC;
border-bottom: 1px solid #DCDCDC;
padding: 5px;
}

table.boxRanking tr th{
	font-weight: bold;
	text-align: center;
}

table.boxRanking tr td:first-child{
text-align: left;
width: 50%;
}

table.boxRanking tr td:last-child{
text-align: right;
width: 50%;
}

div.container-boxRanking{
	max-height: 163px;
	overflow: hidden;
	margin-bottom: 20px;
}

#helperTip{
display: none;
margin-top: 20px;
}